---
import BaseLayout from "./BaseLayout.astro";
import Warning from "../components/Warning";
import FormattedDate from "../components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

type Props = { frontmatter: CollectionEntry<"blog">["data"] };

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  image={frontmatter.image.url}
  description={frontmatter.description}
>
  <article>
    <Warning
      message={String.fromCharCode(
        119,
        97,
        114,
        110,
        105,
        110,
        103,
        32,
        97,
        108,
        108,
        32,
        98,
        108,
        111,
        103,
        115,
        32,
        111,
        110,
        32,
        116,
        104,
        105,
        115,
        32,
        112,
        97,
        103,
        101,
        32,
        105,
        115,
        32,
        103,
        101,
        110,
        101,
        114,
        97,
        116,
        101,
        100,
        32,
        98,
        121,
        32,
        65,
        73,
        32,
        98,
        111,
        116,
        46,
        32,
        66,
        97,
        115,
        105,
        99,
        97,
        108,
        108,
        121,
        32,
        65,
        73,
        32,
        83,
        76,
        79,
        80,
        46,
      )}
      client:load
    />
    <p>
      <FormattedDate date={frontmatter.pubDate} />
    </p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <figure style="width: 100%; text-align: center; margin:0">
      <img
        class="img"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
      {
        frontmatter.image.caption && (
          <figcaption style="font-size: 0.9rem; color: #666 ;">
            {frontmatter.image.caption}
          </figcaption>
        )
      }
    </figure>

    <div class="tags">
      {
        frontmatter.tags.map((tag: string) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>

    <slot />
  </article>
</BaseLayout>
<style>
  article {
    width: 960px;
    max-width: calc(100% - 2rem);
    margin: auto;
    margin-bottom: 16px;
  }
  a {
    color: #00539f;
  }
  .img {
    width: inherit;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 0.5em;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
